AddDefaultCharset UTF-8
DirectoryIndex  index.php index.html
Options +Indexes

### Restrict Access to GIT
RedirectMatch 404 ^(.*/)?\.git+

### Restrict Access to includes folder
RedirectMatch 404 ^(.*/)?\includes+

### Restrict Access to database_dump folder
RedirectMatch 404 ^(.*/)?\database_dump+

### Restrict Access to NetBeans
RedirectMatch 404 ^(.*/)?\nbproject+

### DENY Access TO Users

# order deny,allow
# deny from all
# allow from 192.168.1.5

### Show Errors on Page

php_flag display_errors on
# E_ALL has code 2047
php_value error_reporting 2047 
php_flag display_startup_errors on
php_flag html_errors on
# php_value error_log /var/www/html/PHP_errors.log 


### Restrict Cashing some files
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header unset Cache-Control
  </FilesMatch>
